<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Satellizer</title>
  <link href="favicon.png" rel="shortcut icon">
  <link href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.css" rel="stylesheet">
  <link href="/stylesheets/styles.css" rel="stylesheet">
</head>
<body>
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="ion-ios7-pulse-strong"></i> Satellizer</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/#/">Home</a></li>
    <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
  </ul>
  <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
    <li><a href="/#/crash">Crash report</a></li>
  </ul>
  <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
    <li><a href="/#/logout">Logout</a></li>
  </ul>
</div>



<div ui-view class="fadeZoom"></div>

<div id="map" style="height:400px;"></div>

<script type="text/javascript" charset="UTF-8">
  //Take database data into javascript


    var latA=[ '10,295417' , '10,752056' , '11,534500']
    var lngA=[ '63,568138' , '63,314917' , '63,108750']

    //ensure right type
    for(var i = 0; i < latA.length; i++){
      latA[i] = parseFloat(latA[i])
      lngA[i] = parseFloat(lngA[i])
    }
    console.log(latA);
    console.log(lngA);

    var cords = []
    for(var u = 0; u < (latA.length); u++){
      cords.push([latA[u], lngA[u]])
    }
    console.log(cords);


    var map;
    var marker;
    var startPos = [62.550045646, 12.050345356];
    var speed = 50; //km/h should be read from db

    var delay = 100;
    var panDelay = 10000;   //how often the screen sould recenter

    //thanks to Padre Mucho a jsfiddler with style for helping out with the anim
    /**
     * animateCar - makes the car/marker move across the map
     *
     * @param  {marker.google.maps} symbol for marker the car
     * @param  {array} coords 2d-array with coordinates
     * @param  {int} km_h   the speed of the marker
     */
    function animateCar(marker, coords, km_h){

      var target = 0;
      var km_h = km_h || 50;
      coords.push([startPos[0], startPos[1]]);
      console.log(coords);

      function goTo(){
        var lat = marker.position.lat();
        var lng = marker.position.lng();
        var step = (km_h * 1000 * delay) / 3600000

        var dest = new google.maps.LatLng(coords[target][0], coords[target][1]);

        var distance = google.maps.geometry.spherical.computeDistanceBetween(
          dest, marker.position); //in meters

          var numStep = distance / step;
          var i = 0;
          var deltaLat = (coords[target][0] - lat) / numStep;
          var deltaLng = (coords[target][1] - lng) / numStep;

          function moveMarker(){
            lat += deltaLat;
            lng += deltaLng;

            i += step;

            if (i<distance){
              marker.setPosition(new google.maps.LatLng(lat, lng));

              setTimeout(moveMarker, delay);
            }
            else{
              marker.setPosition(dest);
              target+=1;
              if (target == coords.length){ target = 0; }

              setTimeout(goTo, delay);
            }
          }
          moveMarker();
      }
      goTo();
    }

    /**
     * centerView - makes the marker the center of the
     */
    function centerView(){
      setTimeout(centerView, panDelay)
      map.panTo(marker.getPosition());
    }
    centerView()


      /**
       * initMap - initialize google map
       *
       * @return {type}  description
       */
      function initMap() {
         map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 62.5500, lng: 12.050},
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        console.log(startPos[0] + startPos[1])
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(startPos[0], startPos[1]),
          map: map
        });

        google.maps.event.addListenerOnce(map, 'idle', function() {
          animateCar(marker, cords, speed)
        });
    }

    </script>

      <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwtgP3ap8vcxFVkkHwh5bhlM85Ot2YYYQ&libraries=geometry&signed_in=true&callback=initMap"></script>



       <!-- Third-party Libraries -->
       <script src="/vendor/angular.js"></script>
       <script src="/vendor/angular-messages.js"></script>
       <script src="/vendor/angular-resource.js"></script>
       <script src="/vendor/angular-animate.js"></script>
       <script src="/vendor/angular-ui-router.js"></script>
       <script src="/vendor/angular-strap.js"></script>
       <script src="/vendor/angular-strap.tpl.js"></script>
       <script src="/vendor/satellizer.js"></script>

       <!-- Application Code -->
       <script src="/app.js"></script>
       <script src="/directives/passwordStrength.js"></script>
       <script src="/directives/passwordMatch.js"></script>
       <script src="/controllers/login.js"></script>
       <script src="/controllers/signup.js"></script>
       <script src="/controllers/logout.js"></script>
       <script src="/controllers/profile.js"></script>
       <script src="/controllers/navbar.js"></script>
       <script src="/services/account.js"></script>
       <script src="/controllers/crash.js"></script>

</body>
</html>
