<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Crash</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <h2>pla</h2>
            <p>text</p>
        </div>
      </div>
    </div>
  </div>
</div>
